@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*
* Removes autofill background color from MUI textfields. 
* https://github.com/mui/material-ui/issues/283#issuecomment-287511179
*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  transition-delay: background-color 5000s, color 5000s;
}

/*
* Prevents page from shifting because of scrollbar
* https://stackoverflow.com/questions/1417934/how-to-prevent-scrollbar-from-repositioning-web-page
*/
html {
  overflow-y: overlay;
}

.selectedLink {
  color: #FFF !important;
}

.link {
  color: #FFF !important;
  opacity: 0.6;
}

.link:hover {
  opacity: 1;
}